@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

a {
  color: $primary-color;
  text-decoration: none;
  border-bottom: 1px solid $light-gray ;
  font-weight: bold;
  transition: color 0.2s;
}

ul{
  list-style: none;
}

input{
  padding: 15px !important;
  background-color:$light-gray !important;
  border: 0 !important;
}

section{
  padding: $section-vertical-padding 0;
}

h1, h2,h3, h4, h5, h6{
  color:$dark-purple;

  a{
    border:0;
    font-weight: normal;
  }
}

.btn{
  min-width: 300px;
  padding: 15px 0;
  margin: 20px 0;
  font-weight: bold;
}
.btn-primary{
  background-color: $primary-color;
  border:0;

  &:hover{
    background-color: $dark-purple;
  }
}

p{
  color:gray;
  font-weight: 500;
}

span, small{
  color:gray;
}

.empty-circle{
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  border: 15px solid;
}