@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

a {
  color: $primary-color;
  text-decoration: none;
  border-bottom: 1px solid $light-gray ;
  font-weight: bold;
}

ul{
  list-style: none;
}

input{
  padding: 15px !important;
  background-color:$light-gray !important;
  border: 0 !important;
}

section{
  padding: $section-vertical-padding 0;
}

h1, h2, h5{
  color:$dark-purple;
}

.btn{
  width: 300px;
  padding: 15px 0;
  margin: 20px 0;
  font-weight: bold;
}
.btn-primary{
  background-color: $primary-color;
  border:0;

  &:hover{
    background-color: $dark-purple;
  }
}