@import "./variables.scss";

.row{
  .course-container{
    margin-top: 50px;
    padding:30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;

    h4{
      color:$primary-color;
    }

    &:hover{
      background-color: white;
      box-shadow: 1px 1px 20px 1px lightgray;
      .course-description{
        h5{
        transition: color 0.2s;
          &:hover{
              color:$primary-color
          }
        }
      }
    }
  }

  .course-image{
    width: 170px;
    height: 170px;
    flex-shrink: 0;


    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

  }

  small{
    i{
      padding-right: 5px;
    }
  }
}

.all-courses-btn{
  margin-top:30px
}

