@import "./variables.scss";

.row{
  .course-container{
    margin-top: 50px;
    padding: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;

    h4{
      color:$primary-color;
    }

    &:hover{
      background-color: white;
      .course-description{
        h5{
        transition: color 0.2s;
          &:hover{
              color:$primary-color
          }
        }
      }
    }
  }

  .course-image{
    width: 200px;
    height: 200px;
    flex-shrink: 0;


    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

  }
  .course-description{
    margin-right:60px;

  }
}

.all-courses-btn{
  margin-top:30px
}

