.jumbo-image{
.fx1,
.fx2,
.fx3,
.fx4,
.fx10 {
  z-index: -1;
  position: absolute;
}
.fx1 {
  left: 80px;
  top: 150px;
}

.fx2 {
  left: 80px;
  bottom: 150px;
}

.fx3 {
  bottom: 0;
  right: 80px;
}

.fx4 {
  top: 100px;
  right: -100px;
}


.fx10{
  z-index: 0;
  transform: scale(0.7);
  left:130px;
  bottom:120px;
  border-color: #e5c791;
}
}