@import "./variables.scss";

.smart-tutoring-header{
  margin-bottom: 50px;
}

.container{
  .benefit-description{
    h3{
      padding: 20px 0;
    }

    a{
      color: $dark-purple;
      border:0;

      &:hover{
        color: $primary-color
      }
    }
  }
}