@import "./variables.scss";
.nopadding{
  padding:0;
  
  ul{
    padding:0;
    margin:0;
  .statistic{
    text-align: center;
    padding: 100px 0;
    border: 1px solid #f5f1ed;
      
      h4{
        margin: 0 70px
      }
      span{
        font-size: 60px;
        font-weight: bold;
        color: $primary-color;
      }

      p{
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}