.video-container{
  width: 670px;
  height: 450px;
  background-image: url(../../assets/home-2-popup-video-poster.jpg);
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  .youtube-button{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
  }
  
  .fx5, .fx6,.fx8, .fx9{
    z-index: -2;
    position: absolute;
  }

  .fx5{
    bottom: -110px;
    right: -15px;
  }

  .fx6{
    top:50px;
    left: -100px;
    z-index:-1
  }

  .fx8{
    top:-100px;
    left:-80px;
    fill: #e5c791
  }

  .fx9{
    transform: scale(0.8);
    top:-50px;
    right:-120px;
    border-color: #c99f8e;
    opacity: 0.6;
  }

}

.wave{
  transform: rotate(90deg);
  position: absolute;
  width: 1000px;
  height: 1000px;
  bottom:0;
  right: -150px;
  fill:#f8f8f8;
  z-index: -1;
}

.video-side{
  p{
    padding: 30px 0;
  }
}